*.idea/
*.py[co]

# OS X-related files
.DS_Store

# Project-specific list
*.sqlite3
local.py

/public
frontend/node_modules
/static/build
webpack-stats.json
npm-debug.log
celerybeat-schedule

myapp.log
